
h2 {
    color: #102B4E;
}

button {
    background-color: #102B4E;
    border: none;
    padding: 8px;
}

img {
    cursor: pointer;
}

.logo-logout {
    width: auto;
    height: 30px;
}

.box-shadow {
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2);
}
