<div class="box-shadow d-flex flex-column bg-white p-4 rounded-4 w-50">
    <div class="d-flex justify-content-between">
        <div class="logo-logout"><img class="w-100 h-100" src="https://prodb2cuicontentdelivery-d0bbevfjaxfmedda.z01.azurefd.net/b2cui/assets/images/ford-logo.svg" alt=""></div>
        <div class="logo-logout">
            <img (click)="logOut()" class="w-100 h-100" src="/svg/logout.svg" alt="">
        </div>
    </div>
    <hr>
    <div>
        <h2 class="m-4 text-center"><strong>BOAS VINDAS, ADMIN!</strong></h2>
        <p class="text-justify">Seja bem-vindo ao seu painel exclusivo da Ford! Aqui você encontrará todas as informações que precisa sobre os modelos de carros, desempenho, tecnologia e muito mais — tudo organizado de forma prática e intuitiva para que você explore o universo Ford com facilidade. Prepare-se para uma experiência completa, feita para quem valoriza inovação, potência e design.</p>
    </div>
    <div>

    </div>
    <button class="btn btn-primary mt-5" (click)="goToDashboard()">Dashboard</button>
</div>
