<div class="custom-card card shadow">
  <div class="custom-card-body card-body">
    <h4 class="card-title text-center mb-4">ENTRAR</h4>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()" action="/" method="post">
      <div class="form-floating mb-3">
        <input formControlName="username" type="text" class="form-control" id="usernameInput" placeholder="username" required>
        <label for="usernameInput">Username</label>
      </div>

      <div class="form-floating mb-3">
        <input formControlName="password" type="password" class="form-control" id="passwordInput" placeholder="password" required>
        <label for="passwordInput">Password</label>
      </div>

      <p class="small text-danger">{{ errorMessage() }}</p>

      <div class="mb-3 text-end">
        <a href="#" class="small forgot-password">Esqueceu a senha?</a>
      </div>

      <div class="d-grid">
        <button type="submit" class="main-button btn btn-primary btn-lg">Entrar</button>
      </div>

    </form>

    <hr class="mb-5">

    <div class="text-center">
      <p class="mb-2 small">Não possui uma conta?</p>
      <a href="#" class="secondary-button btn btn-outline-primary w-100">Criar conta</a>
    </div>
  </div>
</div>
