@use "../../../_variables.scss" as vars;

.custom-card {
  width: 460px;
  padding: 32px;
  border-radius: 16px;

  .custom-card-body {
    h4 {
      font-family: vars.$font-family-secondary;
      color: vars.$text-highlight;
      font-weight: 300;
      font-stretch: condensed;
      letter-spacing: 2px;
    }

    form {
      .main-button {
        background-color: #00095B;
      }

      .secondary-button {
        border-color: #00095B;
      }

      .icon-button {
        background-color: none;
        border-color: none;
      }

      a {
        color: rgb(0, 0, 0, 0.8);
      }
    }
  }
}
