<!-- <div class="login-form-container bg-white">
  <h3 class="login-form-title text-center mb-4">ENTRAR</h3>
  <form action="/" method="post">
    <div class="mb-3">
      <input type="text" placeholder="Username" class="form-control">
    </div>
    <div class="mb-3">
      <input type="password" placeholder="Password" class="form-control">
      <a href="/register"><p>Esqueceu a senha?</p></a>
    </div>
    <button class="main-button btn btn-primary w-100">Entrar</button>
  </form>
</div> -->

<div class="custom-card card shadow">
  <div class="custom-card-body card-body">
    <h4 class="card-title text-center mb-4">ENTRAR</h4>

    <form action="/" method="post">
      <div class="mb-3 input-group-lg">
        <input type="text" placeholder="Username" class="form-control ">
      </div>

      <div class="mb-3">
        <div class="input-group input-group-lg">
          <input type="password" placeholder="Password" class="form-control">
          <button type="button" class="btn btn-outline-secondary">
            <i class="bi bi-eye-slash"></i>
          </button>
        </div>
      </div>

      <div class="mb-3 text-end">
        <a href="#" class="small text-decoration-none">Esqueceu a senha?</a>
      </div>

      <div class="d-grid">
        <button type="submit" class="main-button btn btn-primary btn-lg">Entrar</button>
      </div>

    </form>

    <hr class="mb-5">

    <div class="text-center">
      <p class="mb-2 small">Não possui uma conta?</p>
      <a href="#" class="secondary-button btn btn-outline-primary w-100">Criar conta</a>
    </div>
  </div>
</div>
