<header class="d-flex justify-content-between p-4">
    <app-menu></app-menu>
    <h1>DEVSUZARTE</h1>
    <div><img src="https://prodb2cuicontentdelivery-d0bbevfjaxfmedda.z01.azurefd.net/b2cui/assets/images/ford-logo.svg" alt=""></div>
</header>
<main class="p-4">
    <section class="custom-cards row g-4">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card shadow-sm w-100 h-100 p-3">
                <div class="custom-card-body card-body d-flex flex-column">
                    <h2 class="card-title">Veículos</h2>
                    <h3 class="card-text">
                        <select class="form-select mt-4" (change)="onSelectCar($event)">
                            @if(vehicles) {
                                @for (v of vehicles; track v.id) {
                                    <option value="{{ v.id }}">{{ v.vehicle }}</option>
                                }
                            }
                        </select>
                    </h3>
                </div>
            </div>
        </div>
        <app-card [title]="'Total de Vendas'" [value]="selectedVehicle.volumetotal" class="col-12 col-sm-6 col-lg-3"/>
        <app-card [title]="'Conectados'" [value]="selectedVehicle.connected" class="col-12 col-sm-6 col-lg-3"/>
        <app-card [title]="'Update Software'" [value]="selectedVehicle.softwareUpdates" class="col-12 col-sm-6 col-lg-3"/>
    </section>
    <section class="d-flex mt-5 w-100 align-items-center">
        <div class="w-100"><img class="w-100" src="{{ selectedVehicle.img }}" alt=""></div>
        <div class="shadow p-5 rounded-4 w-50 d-flex flex-column align-items-center">
            <div class="d-flex">
                <div class="mb-4 d-flex gap-4 w-100 align-items-center justify-content-center">
                    <p class="fs-3 m-0"><strong>VIN</strong></p>
                    @if(isEditingVin()) {
                        <input type="text" [(ngModel)]="inputVin" (keydown.enter)="showVinInfos()" class="form-control-plaintext fs-3 fw-bold p-0 m-0 border-0 shadow-none" placeholder="{{ vin }}">
                    } @else {
                        <p class="fs-3 fw-bold m-0" (click)="editVin()">{{ vin }}</p>
                    }
                </div>
            </div>
            <table class="w-100 d-flex">
                <tbody class="w-100 justify-content-between">
                    <tr>
                        <th class="text-start fs-3">ODÔMETRO</th>
                        <td class="text-end fs-3">@if(vinInfos) { {{ vinInfos.odometro }}}Km</td>
                    </tr>
                    <tr>
                        <th class="text-start fs-3">COMBUSTÍVEL</th>
                        <td class="text-end fs-3">@if(vinInfos) { {{ vinInfos.nivelCombustivel }} }%</td>
                    </tr>
                    <tr>
                        <th class="text-start fs-3">STATUS</th>
                        <td class="text-end fs-3">@if(vinInfos) { {{ vinInfos.status.toUpperCase() }} }</td>
                    </tr>
                    <tr>
                        <th class="text-start fs-3">LAT</th>
                        <td class="text-end fs-3">@if(vinInfos) { {{ vinInfos.lat }} }</td>
                    </tr>
                    <tr>
                        <th class="text-start fs-3">LONG</th>
                        <td class="text-end fs-3">@if(vinInfos) { {{ vinInfos.long }} }</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
