// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;

// Colors
$bg: #F4F4F4;
$text-highlight: #102B4E
