<!-- Botão estilo hamburguer, fixo no canto superior esquerdo -->
<button class="menu-toggle" type="button" (click)="menuOpen = !menuOpen">
  <img src="/svg/burger.svg" alt="Abrir Menu" />
</button>

<!-- Menu lateral customizado -->
<nav class="custom-sidebar" [class.open]="menuOpen">
  <div class="sidebar-header">
    <img src="https://prodb2cuicontentdelivery-d0bbevfjaxfmedda.z01.azurefd.net/b2cui/assets/images/ford-logo.svg" alt="Ford Logo" />
  </div>
  <ul class="sidebar-nav">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active">
        <img src="/svg/home.svg" alt="Home" />
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active">
        <img src="/svg/dashboard.svg" alt="Dashboard" />
      </a>
    </li>
  </ul>
</nav>
